.button-lightDark {
    color: var(--violetWhite);
    background-color: var(--whiteBlack);
    border: 1px var(--violetWhite) solid;
    width: 148px;
    height: 43px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.button-lightDark:hover {
    box-shadow: inset 0 0 0 3px;
}