.light {
    --violetWhite: #572EE5;
    --whiteBlack: white;
    --blackWhite:#373737;
    --backgroundResults:#E7E7E7

}

.dark {
    --violetWhite: white;
    --whiteBlack: #373737;
    --blackWhite:#ffffff;
    --results:#212121;

}

